fastapi[standard]
pydantic
sqlalchemy~=2.0
redis~=5.2
psycopg2~=2.9
fastapi-users[sqlalchemy]
asyncpg
alembic
pydantic-settings
pytest
pytest-mock
pytest-asyncio
aiosqlite
python-multipart
pytest-cov
locust